nav {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3.3em;
    background-color: #32a852;
}

nav a {
    box-sizing: border-box;
    text-decoration: none;
    margin-left: 25px;
    color: white;
}

nav a::after {
    content: '';
    display: block;
    border-bottom: solid #fff 2px;
    transform: scaleX(0);
    transition: transform 250ms;
}

nav a:hover:after { transform: scaleX(1);
}

nav a.fromLeft::after {
    transform-origin: 0% 50%;
}
nav a:after {
    display:block;
    content: '';
    border-bottom: solid 3px white;  
    transform: scaleX(0);  
    transition: transform 350ms ease-in-out;
}
nav a:active {
    border-bottom: solid 3px white;  
}
