nav {
    display: flex;
    justify-content: space-around;
    height: 3.3em;
}

nav a {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 1px solid black;
}
