<div class="about-section">
    <h1>Om Banden</h1>
    <p>Vores bande består af tre veloplagte og talentfulde unge bandemedlemmer</p>
    <p>Upgrade Banden tilbyder udvilking af web, Andriod og Ios apps i højeste kvalitet og altid til tiden</p>
  </div>
  
  <h2 style="text-align:center">Our Gang</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../../../assets/daniel.jpg" alt="Daniel Massoudyan" style="width:100%">
        <div class="container">
          <h2>Daniel Massoudyan</h2>
          <p class="title">Upgrade Saiyan </p>
          <p>Daniels livret er shushi🍣</p>
          <p>dani883d@elev.tec.dk</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../../../../assets/owen.png" alt="Owen De Guzman" style="width:100%">
        <div class="container">
          <h2>Owen De Guzmann</h2>
          <p class="title">Code Samurai <br> Expert Technician & Programmer </p>
          <p>Owens livret er ris🍚</p>
          <p>owen0011@elev.tec.dk</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
        
    <div class="column">
      <div class="card">
        <img src="../../../../../assets/lukas.png" alt="Lukas Stauersbøl" style="width:100%">
        <div class="container">
          <h2>Lukas Stauersbøl</h2>
          <p class="title">Global Elite Scripter <br>  Design Director, Technician & Programmer</p>
          <p>Lukas kan godt lige pizza</p>
          <p>Design/programmer guru, but also lazy at times.</p>
          <p></p>
          <p>luka1459@elev.tec.dk</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>