<p-toast [style]="{ marginTop: '100px' }"></p-toast>
<section id="contact">
    <div class="main">
        <div class="text">
            <!-- tittle og under tekst -->
            <h1>Kontakt os</h1>
            <p> Har du bruge for noget hjælp? <br>
                Er der nogen fejl, som du kan se eller <br>
                ville du bare i kontakt med os? <br>
                Skriv endelig til os.
            </p>
        </div>
        <form [formGroup]="contactForm" method="POST" (ngSubmit)="onSubmit()">
            <div class="input_warp">
                <span class="p-float-label">
                    <input type="text" #name pInputText formControlName="name">
                    <label for="name">Navn</label>
                </span>
            </div>
            <div class="input_warp">
                <span class="p-float-label">
                    <input type="email" #email class="p-inputtext" pInputText formControlName="email">
                    <label for="email">Email</label>
                </span>
            </div>
            <input formControlName="honeypot" class="hidden" type="text">
            <p-message class="msg-position" severity="error" text="Maks 256 karakterer"
                *ngIf="contactForm.get('message').hasError('maxlength')"></p-message>
            <div class="input_warp">
                <textarea #message rows="10" cols="30" class="textarea-resize" formControlName="message" pInputTextarea
                    name="message" placeholder="Besked her..."></textarea>
            </div>
            <div>
                <!-- send besked -->
                <button class="button" [disabled]="isLoading" (click)="handleClear()" type="submit">Send besked</button>
            </div>
        </form>
    </div>
</section>