<div class="main">
    <div class="text">
        <h1>Kontakt os</h1>
        <p> Har du bruge for noget hjælp? <br> 
            Er der nogen fejl, som du kan se eller <br> 
            ville du bare i kontakt med os? <br>
            Skriv endelig til os.
        </p>
    </div>
    <div class="Input">
        <div class="input_warp">
            <span class="p-float-label">
                <input id="name" type="text" pInputText> 
                <label for="float-input">Name</label>
            </span>
        </div>
        <div class="input_warp">
            <span class="p-float-label">
                <input id="email" type="email" class="p-inputtext" pInputText>
                <label for="email">Email</label>
            </span>
        </div>
        <div class="input_warp">
                <textarea rows="10" cols="30" class="textarea-resize" pInputTextarea name="message"></textarea>
        </div>
        <div>
            <p><button class="button">Send Message</button></p>
        </div>
    </div>
</div>