<div class="main">
    <div class="categories">
        <div class="list-categories">
            <button>nye færdigheder</button>
            <button class="button-left">for nylig brugt</button>
            <button class="button-left">Min list</button>
            <button class="button-left">tilføj liste</button>
        </div>
    </div>
    <div class="tables-list">
        <table class="skills-list">
            <colgroup>
                <col width="10%">
                <col width="15%">
                <col width="15%">
                <col width="40%">
            </colgroup>
            <thead class="item-tittle">
                <tr>
                    <td class="item-row-name">rank</td>
                    <td class="item-row-name">Navn</td>
                    <td class="item-row-name">færdighed</td>
                    <td class="item-row-name">Beskrivelse</td>
                </tr>
            </thead>
            <tbody class="Item-list">
                <tr>
                    <td class="Item-skill">1</td>
                    <td class="Item-skill">vær stærker</td>
                    <td class="Item-skill">styrke træning</td>
                    <td class="Item-skill">for stærk din fysik krop, med disse øvelsere</td>
                </tr>
                <tr>
                    <td class="Item-skill">2</td>
                    <td class="Item-skill">Svømning</td>
                    <td class="Item-skill">svømme træning</td>
                    <td class="Item-skill">kand du ikke svømme eller vil du bare blive bedere til det kan du lære nu
                    </td>
                </tr>
                <tr>
                    <td class="Item-skill">3</td>
                    <td class="Item-skill">mad lavning</td>
                    <td class="Item-skill">lær at lave mad</td>
                    <td class="Item-skill">bliv bedre end Gordon Ramsay til at lave mad</td>
                </tr>
                <tr>
                    <td class="Item-skill">something</td>
                    <td class="Item-skill">something</td>
                    <td class="Item-skill">something</td>
                    <td class="Item-skill">something</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>