<section id="forgot-password">
    <div class="main">
        <div class="fp-container">
            <div class="auth-content">
                <p>Glemt adgangskode</p>
                <div class="fg-password">
                    <input type="email" pInputText placeholder="Skriv din email her..." #passwordResetEmail required>
                </div>
                <div class="btn-container">
                    <input type="submit" class="button" value="Nulstil adgangskode"
                        (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">
                </div>
            </div>
        </div>
    </div>
</section>