body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f6fff8;
}

.container {
    padding: 5%;
    text-align: center;
}

// -------------------------------

