<section id="email-verify">
    <div class="main">
        <div class="verify-container">
            <div class="auth-content">
                <p>Tak for din registering!</p>
                <div class="verify-email" *ngIf="ngAuthService.userState as user">
                    <p>Bekræftelsesmailen er sendt til: <strong>{{user.email}}</strong>.</p>
                </div>
                <div class="btn-container">
                    <button type="button" class="button" (click)="ngAuthService.SendVerificationMail(); ToastMsg()">
                        Gensend bekræftelsesmail
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>