
<!-- https://www.primefaces.org/primeng/showcase/#/setup skal bruges til components og den slags, når vi kommer længere ind i kodningen.-->
<!-- Color for backgrounds: #F6FFF8(Accent and background color) #32a852(Primary color) -->

<section id="content_area">
    <div class="main-container">
        <div class="main">
            <div class="Home">
                <div class="intro">
                    <span class="welcome-msg"><p>Velkommen til </p><h1>Upgrade</h1></span>
                    <p class="subtext">
                        Åbn døren til flere muligheder og aktiver nye begyndelser. <br>
                        Ved hjælp af Upgrade.
                    </p>
                    <div class="buttons">
                        <button class="button" >Kom igang!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>