
<!-- https://www.primefaces.org/primeng/showcase/#/setup skal bruges til components og den slags, når vi kommer længere ind i kodningen.-->
<!-- Color for backgrounds: #F6FFF8(Accent and background color) #32a852(Primary color) -->

<div class="main-container">
    <section class="content_area">
        <div class="main">
            <div class="Home">
                <div class="intro">
                    <h1>Velkommen til Upgrade</h1>
                    <p class="subtext">
                        Åbn døren til flere muligheder og aktivere nye begyndelse. <br>
                        Ved hjælp af Upgrade.
                    </p>
                    <div class="Input">
                        <p><button class="button" >Sign In</button>
                        <p><button class="button">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>