<div id="container">
    <div class="box">
        <div class="content" id="profile-pic">
            <img alt="profilepic"
                [defaultImage]="'https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif?cid=790b761155be4ddd23123de1bf9d94fce21877f4e92e9726&rid=giphy.gif&ct=g'"
                [lazyLoad]="this.uploadService.url" alt="image">
            <p>Profil Billede</p>
            <p-fileUpload #form name="myfile[]" mode="basic" auto="true" chooseLabel="Vælg..." uploadLabel="Upload..."
                cancelLabel="Afbryd..." fileLimit="1" customUpload="true"
                (uploadHandler)="uploadService.uploadFile($event, form)" accept="image/*"></p-fileUpload>
        </div>
        <div class="content center" id="profile">
            <div class="profile-info">
                <div>
                    <p>Navn</p>
                </div>
                <div *ngIf="this.editName == false">
                    <p>{{this.dataService.userName}}</p>
                    <input class="btn" (click)="this.enableNameEdit();" type="button" value="✍">
                </div>  
                <div *ngIf="this.editName == true">
                    <input pInputText #name type="text" placeholder="Skriv dit navn.">
                    <button type="button" [disabled]="name.value == ''" class="btn"
                        (click)="this.dataService.setName(name.value); this.disableNameEdit()">✍</button>
                </div>
            </div>
            <div class="profile-info">
                <p>Email</p>
                <p *ngIf="this.editMail == false">{{this.dataService.userMail}}</p>
                <input *ngIf="this.editMail == false" class="btn" type="button" value="✍">
                <div *ngIf="this.editMail == true">
                    <input pInputText #email type="email" placeholder="Skriv din mail.">
                    <button type="button" [disabled]="email.value == ''" class="btn"
                        (click)="this.dataService.setEmail(email.value)">✍</button>
                </div>
            </div>
            <div class="profile-info">
                <p>Fødselsdag</p>
                <p>{{this.dataService.userDOB | date:'dd/MM/yyyy'}}</p>
                <input class="btn" type="button" value="✍">
            </div>
            <div class="profile-info">
                <p>Højde</p>
                <p>{{this.dataService.userHeight}}cm</p>
                <input class="btn" type="button" value="✍">
            </div>
            <div class="profile-info">
                <p>Vægt</p>
                <p>{{this.dataService.userWeight}}kg</p>
                <input class="btn" type="button" value="✍">
            </div>
            <div class="profile-info">
                <p>hej</p>
                <p>hej</p>
                <p>hej</p>
            </div>
        </div>
        <div class="content" id="skills">
            <div class="single-skill">
                <p>xp</p>
                <p>level</p>
                <p>skill</p>
            </div>
            <div class="single-skill">
                <p>xp</p>
                <p>level</p>
                <p>skill</p>
            </div>
            <div class="single-skill">
                <p>xp</p>
                <p>level</p>
                <p>skill</p>
            </div>
            <div class="single-skill">
                <p>xp</p>
                <p>level</p>
                <p>skill</p>
            </div>
            <div class="single-skill">
                <p>xp</p>
                <p>level</p>
                <p>skill</p>
            </div>
            <div class="single-skill">
                <p>xp</p>
                <p>level</p>
                <p>skill</p>
            </div>
        </div>
    </div>
</div>