body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f6fff8;
}

.user-settings h1 {
  text-align: center;
}

.flex-container {
  display: flex;
  height: 100%;
  background-color: #32a852;
  border-radius: 15px;
}

.flex-container > div {
  background-color: #fff;
  width: 500px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.imageBox {
  background-color: #fff;
  height: 55%;
  border-radius: 15px;
}

.UserImage {
  max-width: 60%;
  padding: 20px;
}

.input_warp {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 40px;
  margin-top: 70px;
  text-align: center;
}

label {
  margin-left: 20px;
}

:host ::ng-deep .p-fileupload-basic {
  margin-bottom: 2em;
}

.profil-image p {
  font-size: 20px;
  font-weight: 450;
}

.btn {
  float: right;
  margin-right: 20px;
  margin-left: -60px;
  outline: none;
  color: #fff;
  background-color: #32a852;
  border: none;
  border-radius: 20px;
  height: 1.5em;
  width: 4em;
}
