<section id="sign-in">
    <div class="login-container">
        <div class="auth-content">
            <p>Sign In</p>
            <div class="auth-field">
                <input type="email" placeholder="Email (e.g john@doe.com)" pInputText #userName />
            </div>
            <div class="auth-field">
                <input type="password" placeholder="Adgangskode..." pInputText #userPassword/>
            </div>
            <div class="formGroup">
                <input type="button" class="button" value="Sign in"
                    (click)="ngAuthService.SignIn(userName.value, userPassword.value)">
            </div>
            <div class="alt-login">
                <p>Other login options</p>
                <div class="alt-btns">
                    <button type="button" class="alt-option" (click)="ngAuthService.GoogleAuth()">
                        <i class="pi pi-google"></i>
                    </button>
                    <button type="button" class="alt-option" (click)="ngAuthService.FacebookAuth()">
                        <i class="pi pi-facebook"></i>
                    </button>
                    <button type="button" class="alt-option" (click)="ngAuthService.MicrosoftAuth()">
                        <i class="pi pi-microsoft"></i>
                    </button>
                    <button type="button" class="alt-option" (click)="ngAuthService.GitHubAuth()">
                        <i class="pi pi-github"></i>
                    </button>
                    <button type="button" class="alt-option" (click)="ngAuthService.TwitterAuth()">
                        <i class="pi pi-twitter"></i>
                    </button>
                </div>
            </div>
            <div class="auth-options">
                <div class="forgotPassword">
                    <a routerLink="/forgot-password">Forgot Password?</a>
                </div>
            </div>
            <div class="redirect-signup">
                <span>Not registered yet?<a class="redirect" routerLink="/sign-up"> Register</a></span>
            </div>
        </div>
    </div>
</section>