<section id="sign-in">
    <div class="login-container">
        <div class="auth-content">
            <p>Sign In</p>
            <div class="auth-field">
                <input type="email" placeholder="Email (e.g john@doe.com)" pInputText #userName />
            </div>
            <div class="auth-field">
                <p-password [toggleMask]="true" #userPassword placeholder="Password"></p-password>
            </div>
            <div class="formGroup">
                <input type="button" class="button" value="Sign in"
                    (click)="ngAuthService.SignIn(userName.value, userPassword.value)">
            </div>
            <div class="formGroup">
                <button type="button" class="button" (click)="ngAuthService.GoogleAuth()">
                    Log in with Google
                </button>
            </div>
            <div class="auth-options">
                <div class="forgotPassword">
                    <a routerLink="/forgot-password">Forgot Password?</a>
                </div>
            </div>
            <div class="redirect-signup">
                <span>Not registered yet?<a class="redirect" routerLink="/sign-up"> Register</a></span>
            </div>
        </div>
    </div>
</section>