<nav>
    <div>
        <a routerLink="home" class="fromLeft" routerLinkActive="active-link">Hjem</a>
        <a routerLink="about" class="fromLeft" routerLinkActive="active-link">Om os</a>
        <a routerLink="contact" class="fromLeft" routerLinkActive="active-link">Kontakt</a>
        <a routerLink="signin" class="fromLeft" routerLinkActive="active-link">Sign In</a>
        <a class="fromLeft" routerLink="signup" routerLinkActive="active-link">Sign Up</a>
    </div>
    <p>Upgrade</p>
</nav>